# Simplified EU Declaration of Conformity

**DRAFT - FOR MANUFACTURER REVIEW**

_Issued under Annex VI of Regulation (EU) 2024/2847 (Cyber Resilience Act)._

**Date of issue:** {{ date_of_issue }}

Hereby, {{ product.manufacturer_name }} declares that the product with digital elements type {{ product.product_type }} is in compliance with Regulation (EU) 2024/2847.

The full EU Declaration of Conformity is available at the following internet address: {{ full_declaration_url }}
